.modal-90w {
    width: 845px !important;
    max-width: inherit !important;
}

#extra-gallery-modal>.modal-content>.modal-body {
    padding: 0px !important;
}

.modal-backdrop.modal-backdrop-opacity {
    background-color: rgb(2, 2, 2);
    opacity: 0.65 !important;
}

#extra-gallery-modal.modal-dialog {
    margin-top: 7% !important;
}