.header-simple {
  border-bottom: transparent;
  background-color: #f3f3f4;
}
.header-simple {
  border-bottom: transparent;
  background-color: #ffffff;
}
.simple .text-primary {
  color: #005bab !important;
}
.simple a:hover {
  color: #007be8;
}
.simple .breadcrumb > .breadcrumb-item.active {
  color: #000;
}
.simple .text-success {
  color: #005bab !important;
}
.builder-toggle {
  position: absolute;
  top: 50%;
  right: 423px;
  background: #ffffff;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  z-index: 12;
}
.quickview-wrapper {
  width: 423px;
  right: -423px;
  //   overflow-y: scroll;
}
.quickview-wrapper .nav-tabs {
  background-color: #ffffff;
  color: black;
}
.quickview-wrapper .nav-tabs > li > a.active {
  color: black !important;
}
.quickview-wrapper .tab-pane {
  overflow-y: scroll;
}
